.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaf6ff; /* Light blue background color */
  }
  
  .section p {
    font-size: 24px;
    color: #333;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  